@import "../../../styles/globals.css";

/* Base compartilhada */
.app-button-primary,
.app-button-secondary {
    padding: 0.8rem;
    border-radius: 8px;

    font-family: var(--font-sans);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.6px;
    text-decoration: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    cursor: pointer;
    user-select: none;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        filter 0.2s ease,
        background 0.2s ease;
}

.app-button-primary:focus-visible,
.app-button-secondary:focus-visible {
    outline: none;

    box-shadow:
        0 0 0 3px rgba(255, 117, 24, 0.25);
}