.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #272727;
    margin-bottom: 0.5rem;
}

.section-content p {
    width: 60%;
    font-size: 1.25rem;
    color: #a6a6a6;
    margin-bottom: 1.5rem;
}

input[type="radio"] {
    width: 1.25em;
    height: 1.25em;
    padding: 1rem;
    accent-color: #272727;
    transition: 4ms ease-in-out; 
}

label input[type="radio"] {
    margin-right: 0.5rem;
}