.app-input-date {
    min-height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 24px;

    border-radius: 1rem;
    border: 2px solid #B5B5B5;

    background: #F8F8F8;

    box-shadow:
        0 2px 4px rgba(0,0,0,.08);

    transition: .2s ease;
}

.app-input-date input {
    flex: 1;

    border: none;
    outline: none;

    background: transparent;

    font-family: var(--font-sans);


    color: #a6a6a6;
}

.app-input-date input::placeholder {
    color: #A9A9A9;
}

.calendar-icon {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.app-input-date:hover {
    border-color: #8D8D8D;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
}

.app-input-date:focus-within {
    border-color: #FF7518;

    box-shadow:
        0 0 0 4px rgba(255,117,24,.15);
}